.homepage-books {
    .recent {
        .quotes {
            // background: linear-gradient(140.88deg, #F2EDA2 -29.15%, #EC2C5A 151.64%),
                // linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
            //     @media (min-width: 767px) {
            //         min-width: 390px;
            //     }
            .swiper {
                width: 300px;
              }
              
              .swiper-slide {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 18px;
                font-weight: bold;
                color: #fff;
                min-height: 180px;
              }
              
              .swiper-slide:nth-child(1n) {
                background: linear-gradient(140.88deg, #F2EDA2 -29.15%, #EC2C5A 151.64%),
                linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
                background-color: #dd375ef9;
              }
              
              .swiper-slide:nth-child(2n) {
                background-color: #F2EDA2;
              }
              
              .swiper-slide:nth-child(3n) {
                background-color: rgb(10, 184, 111);
              }
              
              .swiper-slide:nth-child(4n) {
                background-color: rgb(211, 122, 7);
              }
              
              .swiper-slide:nth-child(5n) {
                background-color: rgb(118, 163, 12);
              }
              
              .swiper-slide:nth-child(6n) {
                background-color: rgb(180, 10, 47);
              }
              
              .swiper-slide:nth-child(7n) {
                background-color: rgb(35, 99, 19);
              }
              
              .swiper-slide:nth-child(8n) {
                background-color: rgb(0, 68, 255);
              }
              
              .swiper-slide:nth-child(9n) {
                background-color: rgb(218, 12, 218);
              }
              
              .swiper-slide:nth-child(10n) {
                background-color: rgb(54, 94, 77);
              }
              
        }

        .new-arrivals {
            .carousel {
                cursor: grab;
                border: 1px solid #EC2C5A;
                overflow-x: scroll;
                scrollbar-width: none;
                .text {
                    background: linear-gradient(182.98deg, #F2EDA2 -4.09%, #EC2C5A 165.15%),
                        linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
                    writing-mode: vertical-rl;
                    transform: rotate(180deg);
                    z-index: 5;
                }

                .inner-carousel {
                    img {
                        max-width: 100%;
                        pointer-events: none;
                        box-shadow: 0px 0px 4px 0px #00000040;

                    }
                }
            }
        }
    }
}